

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  float: left;
}

.paddinga {
  padding-top: 5%;
  font-weight: bolder;
}

.paddingaa {
  font-size: 29px;
}

.paddingb {
  padding-top: 5%;
  padding-bottom: 5%;
}

.paddingc {
  padding-top: 10%;
  padding-bottom: 10%;
}

.con {
  display: flex;
  flex-wrap: wrap;
 
  align-items: center;

  width: 80%;

}

.container3 {
  object-fit: contain;
  object-position: center;
  width: 220px;
  
  padding-right: 10%;
  padding-left: 10%;
  overflow-x:auto;
}

.flo {
  float: left;
  text-align: center;
}

   .white-box {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 90%;
  }
.black-border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
  }

  
 
 
  .red {
  color: #ff0000;
  }
  .pad {
    margin-left: 50px;
    margin-right: 50px;
  }
  .pad2 {
    margin-bottom: 50px;
  }
  
  .container {
  width: 100%;
  margin: 0;
  padding: 0;
}


h1 {
  font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  
}

.padding {
  padding-top: 6%;
  padding-bottom: 6%;
}

.padding2 {
  padding-top: 6%;
  padding-bottom: 6%;
  color: white;
}

.abcd {
 padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  color: white;
   font-size: 22px;
  font-weight: 20px;
  text-align: center;

}

.abcde {
 padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 6%;
  padding-right: 6%;
 
}

.padding1 {
  text-align: left;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: "Helvetica Neue", san-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  
}

.padding1w {
  text-align: left;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: "Helvetica Neue", san-serif;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  color: red;
  
}

h2 {
 
  width: 600px;
  margin: 0 auto;
}



h3 {
font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
font-size: 22px;
font-weight: normal;
text-align: center;
border-bottom: 1px solid #444444;
margin: 5px 5px 5px 5px;
padding: 0px 0 10px 0;
}

.header {
  background-color: #ffffff;
  padding: 20px 2px 20px 2px;
}

p {
font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
font-size: 16px;
color: black;
padding-left: 5%;
padding-right: 5%;
}

.p1 {
font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
font-size: 16px;
color: black;
padding-left: 5%;
padding-right: 5%;
}

a {
font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
font-size: 16px;
font-weight: bold;
text-decoration: none;
color: #335577;
}

a:hover {
color: #C0C0C0;
text-decoration: underline;
}

.tagline {
  background-color: #335577;
  padding: 10px 2px 10px 2px;
  color: white;
}

.projects, .badges, .articles, .skills, .footer{
  width: 550px;
  margin: 0 auto;
}

.about p {
 padding: 22px 52px 22px 52px;
 margin-top: 10px;  
}

.projects li {
  list-style-type: none;
  padding-bottom: 22px;
}

.projects ul, .badges ul, .articles ul, .skills ul .footer ul{
  list-style-type: none;
  padding: 12px;
}

.badges li {
  margin-bottom: 100px;
} 

.badges img { 
  float: left;
  padding-right: 22px;
  padding-top: 10px;
}

.badges p {
font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
font-size: 18px;
font-weight: normal;
text-align: center;
margin: 0 0 0 0;
padding: 50px 0 0 0;
margin-bottom: 100px;
}

.skills {
  margin-bottom: 20px;
  text-align: center;
  padding: 12px;
}
.skills h3 {
  margin-bottom: 20px;
  text-align: center;
  padding: 12px;
}

.skills li {
  font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
  background-color: #555555;
  color: #ffffff;
  font-weight: normal;
  display: inline;
  padding: 5px;
  margin-right:  0 20px 10px 0;
  text-align: center;
}

.footer {
  background-color: #335577;
  text-align: center;
  color: #ffffff;
  padding: 20px 0 20px 0;
  width: auto;
}

.clip-circle {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 455px;
  padding-top: 35px;
  object-fit: contain;
  
}

.clip-circle1 {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  padding-top: 35px;
  margin-right: 5% ;
  margin-left: 5%;
}

.clip-circle2 {
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 80%;
  padding-top: 35px;
  margin-right: 5% ;
  margin-left: 5%;
}

.clip-circle3 {
  object-fit: contain;
  object-position: center;
  width: 80%;
  padding-top: 35px;
  margin-right: 5% ;
  margin-left: 5%;
  max-height: 520px;
  overflow: hidden;
}

 

.footer a {
  text-align: center;
  color: #ffffff;
  padding: 20px 0 20px 0;
  width: auto;
}

.footer a:hover {
color: #FFD700;
text-decoration: underline;
}



li {
  color: black;
  padding-top: 10px;
}

ul {

padding-top:20%;

}

td, tr {
background-color: white;
}

.topnav {
    overflow: hidden;
   z-index: 1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  padding-top: 10px;
  font-size: 16px;
  background: white;
 
}

.topnav1 {
    overflow: hidden;
   z-index: 1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  padding-top: 10px;
  font-size: 16px;
  background: black;
}



.wtf{
  object-fit: contain;
  text-align: center;
  color: black;
  padding: 20px 0 20px 0;
  width: auto;

}


.bump {
  padding-top: 22px;
}



.dark {
  color: black;
}

.darkb {
  color: red;
  font-size: 15px;
}

.darkc {
  color: green;
  font-size: 15px;
}





.center {
  text-align: right;
 
}




body {
  padding: 40px; 
}
.promos {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.promo {
  width: 250px;
  background: #0F1012; 
  color: #f9f9f9;
  float: left;
}
.deal {
  padding: 10px 0 0 0;
}
.deal span {
  display: block;
  text-align: center;
}
.deal span:first-of-type {
  font-size: 23px;  
}
.deal span:last-of-type {
  font-size: 13px;
}
.promo .price {
  display: block;
  width: 250px;  
  background: #292b2e;
  margin: 15px 0 10px 0;
  text-align: center;
  font-size: 23px;
  padding: 17px 0 17px 0;
}
ul {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #999999;
}
li {
  display: block;
  margin: 10px 0 0 0;
    font-family: "Helvetica Neue", Georgia, Verdana, san-serif;
  font-size: 22;
  font-weight: 100;
  text-align: left;
  
}


button {
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  padding: 10px 37px;
  margin: 10px 0 20px 60px;
}
.scale {
  transform: scale(1.2);
  box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}
.scale button {
  background: #64AAA4;
}
.scale .price {
  color: red;
}


.clip-circle {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
  overflow: hidden;
  padding-top: 35px;
}

.gry {
  color: #F5F5F5;
}


.str {
  font-weight: bold;
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: #F0FFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
   
    color: black;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





.navbar, .dropdown-menu{
background:rgba(255,255,255,0.25);
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: gray;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
}

